

.jumbotron {
    padding-top: 2rem;
    background-color: #eeff00;
    
}
.display-4  {
    color: rgb(255, 255, 255);
    font-style: bold;
}
.lead {
    color: rgb(255, 255, 255);
    font-style: bold;
}
#projects {
    background-color: #1e1f20;
    color: white;

}

.card {
    background-color: #1e1f20;
}
.card-text {
    background-color: rgb(145, 142, 142);
    margin-top: 1rem;
}
.col {
    margin-bottom: 2rem;
}

section {
    padding-top: 5rem;
}

.tulisan {
    font-size: large;
    
}

#projects {
    background-color: #eeff00;
}

.card-body {
    background-color: #eeff00;
}

.card-text {
    background-color: #eeff00;
    color: black;
}

.gambar-1 {
    background-color: #eeff00;
}

.footer {
    background-color: #eeff00;
}

.text-1 {
    color: black;
}
.text-2 {
    color: black;
}

.text-3 {
    color: black;
}

.gallery-img {
    width: 100%;

}

#gallery .row > * {
    padding: 0;
}

